doctype
html(lang="ja")
  head
    title Clock
    //- ok-blocks, ok-patternsの読み込み
    script(src="../../common.js")
    //- ok-patterns-linesのCSSを読み込み
    link(rel="stylesheet", href="../../../vendor/@all-user/ok-patterns-lines/dist/bundle.css")
    //- デモページ共通のファイル読み込み
    link(rel="stylesheet", href="../../common.css")
    //- ページ専用のファイル読み込み
    link(rel="stylesheet", href="index.css")
    script(src="bundle.js")
  body
    #wrapper
    #video-wrapper
      iframe#player(type="text/html",frameborder=0)
      
    
