$block_color = #0A49BF
$masking_color = white

div
  position relative

body
  width 100%
  height auto
  .container
    width 100%
    #wrapper
      background $block_color
      .mask
        background $masking_color
